.appDiv{
  text-align: center;
}

.navItems{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  
}

.navItems li{
  display: block;
  color: white;
  float:left;
  padding: 14px;
  text-decoration: none;
}

.salmonPic{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.ingred{
  list-style-type: none;
  padding: 0;
}

.centeredList{
  list-style-position: inside;
}